.body {
  background-color: rgb(31, 31, 31);
  padding: 40px;
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  font-family: 'Kalnia', serif;
}

p {
  font-size: 15px;
}

.skills {
  color: white;
  font-size: 15px;
}


.proj {
  padding: 10px;

}

.ProjTitle {
  color: white;
}

.btn {
  margin: 10px;
}


img {
  width: 250px;
}

.cont1 {
  border-radius: 5px 0px 0px 0px;
}

.cont2 {
  padding: 10px;
}

ul {
  list-style: none;
}

.logoHtml {
  width: 9%;
  margin-right: 5px;
}

.logoCss {
  width: 6%;
  margin-right: 12px;
}

.logoJs {
  width: 6%;
  margin-right: 10px;
}

.logoReact {
  display: inline-block;
  width: 30%;
  min-width: 20%;
}

.logoNode {
  width: 30%;
}

.logoMongo {
  width: 60%;

}

.logoLinkedIn {
  width: 50px;

}